.drills-main-div {
  height: 80vh;
}
.drills-views-div {
  height: 80vh;
}
.drillsInstructions-div {
  height: 80vh;
}
.drills-answer-div {
  height: 80vh;
}
.drills-answer-div iframe {
  padding-left: 10px;
}
.drills-main-div iframe {
  padding-right: 10px;
}
.drillsInstructions-div p {
  padding-left: 10px;
}
.drillsInstructions-div a:hover {
  text-decoration: none;
}
.drillsInstructions-div div {
  padding-left: 10px;
}
